body
{
	background-image: url('image.website/background_homepage1.jpg');
	margin: 0;
	padding: 0;

}

span
{
	color: indianred;
	text-shadow: 5px 5px 10px darksalmon;
	line-height: 15px;
}
nav
{
	align-items: center;
	display: flex;
	padding-top: 0;
	padding-left: 1%;
}
ul
{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
ul li 
{
	list-style: none;
	margin-left: 10px;
	font-size: 15px;
}

ul li a
{
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
	transition: 0.2s ease-in-out;
	display: inline-block;
	padding: 10px;
	background-color: rosybrown;
}
ul li a:hover
{
	color: hotpink;
}
a:link, a:visited
		{
			color: whitesmoke;
			background-color: rosybrown;
			text-decoration: none;
			text-align: center;
			padding: 10px 30px;
			display: inline-block;
			border-radius: 30px;
		}
		a:hover, a:active
		{
			color: indianred;
			background-color: lightpink;
		}